*{
    box-sizing: border-box;
}

body {
    width: 100%;
}

h2{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
}

span{
    background-color: grey;
}

button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50%;
}

button:hover{
    background-color: black;
}